<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Employee Form</title>
</head>
<body>
{%  extends 'base.html' %}

{% block content %}
<br>
    <form action="#" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Add New Employee">
    </form>

{% endblock %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>