<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body>
{% extends 'base.html' %}


{% block content %}

<br>
<div class="heading-employee" style="float: left">
    <h2>{{ employee.name }}</h2>
    <h5>{% if not employee.active %}
        (not active)
        {% endif %}
        {% if is_best %}
        <span class="badge badge-success">Best Performer</span>
        {% endif %}
    </h5>
</div>


<div class="dropdown show" style="float: right">
  <a class="btn btn-secondary  btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Edit
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'update-employee' employee.pk %}">Update data</a>
    <a class="dropdown-item" href="{% url 'deactivate-employee' employee.pk %}">Change active status</a>
  </div>
</div>
<br>

<table class="table" style="clear: both">
  <thead>
    <tr>
      <th scope="col">Email: </th>
      <th scope="col">SAP ID: </th>
      <th scope="col">Territories: </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{employee.email}}</td>
      <td>{{employee.int_id}}</td>
        <td>
            {% for territory in territories.all %}
            <li>{{territory.name}}
            </li>
            {% endfor %}
        </td>
    </tr>
  </tbody>
</table>



<h4>Performance: </h4>


     {{ clerk_prod_graph|safe }}

<h4>Holiday tracking:</h4><a href="{% url 'time-manager' employee.id %}" class="btn btn-secondary btn-sm active add-new-timeexp-event"
       role="button" aria-pressed="true">Add New Event</a>

    <br>
    <p>Employee has <strong>{{vacations_to_be_taken}}</strong> days left to schedule as his/her Regular Vacation Time</p>






{% include 'calendar.html' %}

<div id="time-schedule">

      <h5>Vacation:</h5>
        <table class="table" style="clear: both">
            {% for vacation in all_vacations_to_happen %}
            <tr>
              <td>{{vacation.date}}</td>
              <td><a href="{% url 'del_event_from_emp_profile' employee.id vacation.id %}"
                     class="btn btn-secondary btn-sm active"
                     role="button" aria-pressed="true">Delete</a></td>
            </tr>
            {% empty %}
            <p>No vacation scheduled at the moment</p>
            {% endfor  %}
        </table>
      <h5>Trainings:</h5>
        <table class="table" style="clear: both">
              {% for training in all_trainings_to_happen %}
              <tr>
                <td>{{training.date}}</td>
                <td><a href="{% url 'del_event_from_emp_profile' employee.id training.id %}"
                       class="btn btn-secondary btn-sm active"
                       role="button" aria-pressed="true">Delete</a></td>
              </tr>
              {% empty %}
              <p>No training scheduled at the moment</p>
              {% endfor  %}
          </table>



</div>
{% endblock %}


<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="js/app.js"></script>-->
</body>
</html>