{%  extends 'base.html' %}

{% block content %}

{% regroup clerks by date as date_list %}

<table class="table table-bordered">
{% for date in date_list %}
  <thead>
    <tr>
      <th colspan="2">{{ date.grouper }}
          <span class="badge badge-warning" style="display: none">Low Performance Risk!</span></th>
    </tr>
  </thead>
  <tbody class="absent-clerks">
  {% for clerk in date.list %}
    <tr>
      <td>{{ clerk.clerk }}</td>
      <td>({{ clerk.type }})</td>
    </tr>
  {% endfor %}
  </tbody>
{% endfor %}
</table>


{% endblock %}


{% load static %}
{% block scripts %}
{{ block.super }}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static '/js/app.js' %}"></script>
{% endblock %}